---
import IconGithub from '@components/icons/IconGithub.astro';
import Pill from './Pill.astro';
import { ExternalLink } from '@lucide/astro';
import type { ProjectType } from '../../utils/types';

interface Props extends ProjectType {}

const { title, description, imageUrl, projectUrl, repoUrl, techStack } = Astro.props as Props;
---

<div
  class="flex flex-col-reverse md:flex-row justify-between items-center gap-6 md:gap-8 max-w-4xl p-4 md:p-8 relative group rounded-lg transition-transform duration-300 hover:scale-[1.02]"
>
  <div
    class="absolute inset-0 z-0 opacity-0 rounded-lg transition-all duration-300 group-hover:opacity-100 group-hover:bg-white/5 pointer-events-none"
    aria-hidden="true"
  >
  </div>
  <!-- Image -->
  <div class="w-full md:w-3/5 max-w-3xl h-40 sm:h-60 md:h-80 overflow-hidden rounded-lg">
    <img src={imageUrl} alt="" class="h-full w-full rounded-lg object-cover" />
  </div>
  <div class="w-full md:w-2/5 flex flex-col items-start md:items-end gap-2 mb-4 md:mb-0">
    <h2
      class="text-lg sm:text-xl font-bold text-slate-200 group-hover:text-teal-300 transition-colors duration-300 cursor-pointer"
    >
      {title}
    </h2>
    <div class="bg-light-navy p-3 sm:p-4 rounded-lg shadow-lg w-full md:w-[500px] transition-shadow duration-300 group-hover:shadow-xl">
      <p
        class="text-start md:text-end text-xs sm:text-sm [&>span]:font-medium [&>span]:text-teal-300"
        set:html={description}
      />
    </div>
    <ul class="w-full flex flex-wrap gap-1.5 justify-start md:justify-end mt-1">
      {techStack.map((stack: string, index: number) => (
        <Pill
          key={stack}
          text={stack}
          rotateClass={index % 3 === 0 ? 'pill-rotate-1' : index % 3 === 1 ? 'pill-rotate-2' : ''}
        />
      ))}
    </ul>
    <div class="flex gap-5 mt-3">
      {
        repoUrl && (
          <a
            href={repoUrl}
            target="_blank"
            rel="noopener noreferrer"
            aria-label="View source code on GitHub"
            title="GitHub"
            class="text-slate-400 hover:text-teal-300 transition-colors duration-300 wiggle-hover squish"
          >
            <IconGithub alt="GitHub icon" />
          </a>
        )
      }
      {
        projectUrl && (
          <a
            href={projectUrl}
            target="_blank"
            rel="noopener noreferrer"
            aria-label="View live project"
            title="View Project"
            class="text-slate-400 hover:text-teal-300 transition-colors duration-300 wiggle-hover squish"
          >
            <ExternalLink />
          </a>
        )
      }
    </div>
  </div>
</div>
